<div class="row bg-white border-radius mt-5">
  <div class="col-lg-12">
    <h3 class="text-center p-3">Tabell</h3>

    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Namn</th>
          <th scope="col">Antal bet</th>
          <th scope="col">Vinster</th>
          <th scope="col">Förluster</th>
          <th scope="col">Poäng</th>
        </tr>
      </thead>

      <% @table.each do |row| %>
        <tr>
          <td><%= row["rank"] %></td>
          <td><%= row["name"] %></td>
          <td><%= row["total_bets"] %></td>
          <td><%= row["wins"] %></td>
          <td><%= row["losses"] %></td>
          <td><%= row["points"] %></td>
        </tr>
      <% end %>
    </table>
  </div>
</div>

<div class="row mt-5">
  <div class="col-lg-6 ps-0">
    <div class="col-lg bg-white border-radius">
      <h3 class="text-center p-3">Senaste omgång</h3>
    </div>
  </div>

    <div class="col-lg-6 pe-0">
      <div class="col-lg bg-white border-radius">
        <h3 class="text-center p-3">Kommande omgång</h3>
      </div>
    </div>
</div>