<div class="row bg-white border-radius mt-4 mb-4">
  <div class="col-lg-12">
    <h3 class="text-center p-3">Tabell</h3>

    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Namn</th>
          <th scope="col">Antal bet</th>
          <th scope="col">Vinster</th>
          <th scope="col">Förluster</th>
          <th scope="col">Poäng</th>
        </tr>
      </thead>

      <% @table.each do |row| %>
        <tr>
          <td><%= row["rank"] %></td>
          <td><%= row["name"] %></td>
          <td><%= row["total_bets"] %></td>
          <td><%= row["wins"] %></td>
          <td><%= row["losses"] %></td>
          <td><%= row["points"] %></td>
        </tr>
      <% end %>
    </table>
  </div>
</div>

<div class="row bg-white border-radius mt-4">
  <div class="col-lg-12">
    <h3 class="text-center p-3">Senaste omgång</h3>

    <% @latest_games.each do |game| %>
        <div class="d-flex justify-content-center align-items-center p-3">
          <div style="width: calc(50% - 70px);">
            <p class="text-end my-auto pe-3"><%= game.home_team %></p>
          </div>

          <div style="width: 40px;">
            <%= image_tag("flags/nederlanderna.png", size: "32x32", class: "mx-auto my-auto d-block") %>
          </div>

          <div style="width: 60px;">
            <% if game.home_team_score.nil? %>
              <p class="text-center my-auto"><%= game.time.strftime("%H:%M") %></p>
            <% else %>
              <p class="text-center my-auto"><%= game.home_team_score %> - <%= game.away_team_score %></p>
            <% end %>
          </div>

          <div style="width: 40px;">
            <%= image_tag("flags/norge.png", size: "32x32") %>
          </div>

          <div style="width: calc(50% - 70px);">
            <p class="text-start my-auto ps-3"><%= game.away_team %></p>
          </div>
        </div>
    <% end %>
  </div>
</div>

<div class="row bg-white border-radius mt-4">
  <div class="col-lg-12">
    <h3 class="text-center p-3">Kommande omgång</h3>

    <% @upcoming_games.each do |game| %>
        <div class="d-flex justify-content-center align-items-center p-3">
          <div style="width: calc(50% - 70px);">
            <p class="text-end my-auto pe-3"><%= game.home_team %></p>
          </div>

          <div style="width: 40px;">
            <%= image_tag("flags/nederlanderna.png", size: "32x32", class: "mx-auto my-auto d-block") %>
          </div>

          <div style="width: 60px;">
            <% if game.home_team_score.nil? %>
              <p class="text-center my-auto"><%= game.time.strftime("%H:%M") %></p>
            <% else %>
              <p class="text-center my-auto"><%= game.home_team_score %> - <%= game.away_team_score %></p>
            <% end %>
          </div>

          <div style="width: 40px;">
            <%= image_tag("flags/norge.png", size: "32x32") %>
          </div>

          <div style="width: calc(50% - 70px);">
            <p class="text-start my-auto ps-3"><%= game.away_team %></p>
          </div>
        </div>
    <% end %>
  </div>
</div>