<%= form_for @game do |f| %>
  <div class="row bg-white border-radius m-0 mb-4 box-shadow border">
    <div class="col-lg-12 p-0">
      <h4 class="text-center p-3 border-bottom"><%= I18n.t(@game.game_type) %></h4>
        <div class="d-flex p-4 border-bottom flex-wrap">

          <div class="d-flex left-team-xl">
            <%= f.number_field :home_team_score, min: 0, class: "form-control text-center team-score-left", value: @game.home_team_score %>
            <%= image_tag("flags/#{@game.home_team.img}", class: "my-auto") %>
            <p class="fs-6 my-auto"><%= @game.home_team.name  %></p>
          </div>


          <div class="d-flex right-team-xl">
            <%= f.number_field :away_team_score, min: 0, class: "form-control text-center team-score-right", value: @game.away_team_score %>
            <%= image_tag("flags/#{@game.away_team.img}", class: "my-auto") %>
            <p class="fs-6 my-auto"><%= @game.away_team.name  %></p>
          </div>

        </div>

      <p class="text-center fs-7 m-0 p-3 text-secondary">Grupp <%= @game.home_team.group %> - <%= @game.date.strftime("%d %B %Y") %> - <%= @game.time.strftime("%H:%M") %></p>
    </div>
  </div>

  <div class="row m-0 mt-4">
    <div class="col-lg-12 p-0">
      <div class="d-flex justify-content-end">
        <%= f.submit "Spara", class: "btn btn-primary border-radius btn-lg" %>
      </div>
    </div>
  </div>
<% end %>


