<div class="row bg-white border-radius m-0 mb-4 border">
  <div class="col-lg-12 p-0">
    <div class="d-flex justify-content-between align-items-center">
      <h4 class="text-center p-4 mb-0">Matcher</h4>

      <%= form_tag games_path, method: :get, class: "me-4" do %>
        <%= select_tag :filter, options_for_select([['Alla matcher', 'all'], ['Förgående matcher', 'past'], ['Kommande matcher', 'future']], params[:filter]),
          class: 'form-select form-select-sm border-radius ps-3', style: 'max-width:200px;', onchange: 'this.form.submit();' %>
      <% end %>
    </div>

    <% @games_by_date.each do |row| %>
      <h6 class="border-radius text-center fs-7 p-3 mb-0 ms-4 me-4" style="background: #f4f4f4;"><b><%= row["date"].strftime("%d %B %Y") %></b></h6>

      <% row["games"].each do |game| %>
        <%= link_to edit_game_path(game[7]), class: 'd-flex justify-content-center align-items-center text-decoration-none p-4 ms-4 me-4 link-dark custom-background table-border-bottom' do %>
          <div class="d-flex justify-content-end team-sm-width">
            <div class="d-flex left-team-sm">
              <%= image_tag("flags/#{game[5]}") %>
              <p class="fs-7 my-auto"><%= game[2] %></p>
            </div>
          </div>

          <div class="game-sm-date-time-width">
            <% if game[0].nil? && game[1].nil? %>
              <p class="text-center my-auto"><%= DateTime.parse(game[4]).strftime("%H:%M") %></p>
            <% else %>
              <p class="text-center my-auto"><%= game[0] %> - <%= game[1] %></p>
            <% end %>
          </div>

          <div class="d-flex justify-content-start team-sm-width">
            <div class="d-flex right-team-sm">
              <%= image_tag("flags/#{game[6]}") %>
              <p class="fs-7 my-auto"><%= game[3] %></p>
            </div>
          </div>
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>