<div class="row bg-white border-radius m-0 mb-4 box-shadow border">
  <div class="col-lg-12">
    <h4 class="text-center p-4 mb-0">Matcher</h4>

    <% @games_by_date.each do |row| %>
      <h6 class="border-radius text-center p-3 mb-0" style="background: #f4f4f4;"><%= row["date"].strftime("%d %B %Y") %></h6>

      <% row["games"].each do |game| %>
        <%= link_to edit_game_path(game[7]), class: 'd-flex justify-content-center align-items-center text-decoration-none p-4 link-dark border-radius custom-background table-border-bottom' do %>
          <div style="width: calc(50% - 70px);">
            <p class="text-end my-auto pe-3"><%= game[2] %></p>
          </div>

          <div style="width: 40px;">
            <%= image_tag("flags/#{game[5]}", size: "32x32", class: "mx-auto my-auto d-block") %>
          </div>

          <div style="width: 60px;">
            <% if game[0].nil? && game[1].nil? %>
              <p class="text-center my-auto"><%= DateTime.parse(game[4]).strftime("%H:%M") %></p>
            <% else %>
              <p class="text-center my-auto"><%= game[0] %> - <%= game[1] %></p>
            <% end %>
          </div>

          <div style="width: 40px;">
            <%= image_tag("flags/#{game[6]}", size: "32x32", class: "mx-auto my-auto d-block") %>
          </div>

          <div style="width: calc(50% - 70px);">
            <p class="text-start my-auto ps-3"><%= game[3] %></p>
          </div>
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>