<div class="d-flex justify-content-center">
  <div class="border-radius bg-white border box-shadow ps-4 pe-4">
    <h2 class="text-center mb-4 mt-4">Logga in</h2>

    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="field mb-3">
        <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "Användarnamn/Epost", class: "p-2 ps-3 border-radius border-0 bg-light", style: "width: 300px;" %>
      </div>

      <div class="field mb-3">
        <%= f.password_field :password, autocomplete: "current-password", placeholder: "Lösenord", class: "p-2 ps-3 border-radius border-0 bg-light", style: "width: 300px;" %>
      </div>

      <% if devise_mapping.rememberable? %>
        <div class="field mb-3">
          <%= f.check_box :remember_me, class: "me-1" %>
          <%= f.label "Kom ihåg mig" %>
        </div>
      <% end %>

      <div class="actions d-grid gap-2 mb-3">
        <%= f.submit "Logga in", class: "btn btn-primary border-radius" %>
      </div>
    <% end %>

    <%- resource_class.omniauth_providers.each do |provider| %>
      <%= form_for "Login",
        url: omniauth_authorize_path(resource_name, provider),
        method: :post,
        data: { turbo: "false" } do |f| %>

        <%= f.button class: "btn btn-light bg-white border border-radius text-center mb-4", style: "width: 100%" do %>
          <i class="bi bi-google" style="float: left; margin-right: 5px;"></i> Logga in med Google
        <% end %>
      <% end %>
    <% end %>



    <%= link_to "Bli medlem", new_registration_path(resource_name), class: "d-block text-center text-decoration-none fs-7 mb-2" %>
    <%= link_to "Glömt lösenord?", new_password_path(resource_name), class: "d-block text-center text-decoration-none fs-7 mb-4" %>
  </div>
</div>